{{- if .install_nerd_fonts }}
[".local/share/fonts/DejaVuNerd"]
    type = "archive"
    url = "https://github.com/ryanoasis/nerd-fonts/releases/latest/download/DejaVuSansMono.zip"
    exact = true
    stripComponents = 0
{{- end }}